* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f2dfbe;
  font-family: Arial, sans-serif;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: 850px;
  background: #161212;
  border: 3px solid #0d5eff;
  border-radius: 25px;
  padding: 40px;
  color: white;

  box-shadow:
    0 0 10px #0d5eff,
    0 0 20px rgba(13, 94, 255, 0.4);
}

h1 {
  text-align: center;
  font-size: 70px;
  margin-bottom: 40px;
}

.input-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 40px;
}

.input-container input {
  width: 450px;
  padding: 20px;
  border-radius: 10px;
  border: none;
  font-size: 24px;
}

.input-container button {
  background: #1560ff;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 20px 30px;
  font-size: 24px;
  cursor: pointer;
}

h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 30px;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid #777;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
}

.task span {
  flex: 1;
  margin-left: 15px;
  font-size: 20px;
}

.task input[type="checkbox"] {
  width: 25px;
  height: 25px;
}

.actions {
  display: flex;
  gap: 20px;
}

.delete,
.edit {
  background: none;
  border: none;
  color: #ff2b59;
  font-size: 22px;
  cursor: pointer;
}

.footer {
  border-top: 3px solid #1560ff;
  margin-top: 30px;
  padding-top: 20px;
  text-align: center;
  font-size: 28px;
}

.task:hover {
  transform: scale(1.01);
  transition: 0.2s;
}

.input-container button:hover {
  background: #2c72ff;
}

.delete:hover {
  color: #ff577a;
}
